/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* <%= stylesheet_link_tag url ('/home/satish/BBWork/blog/app/assets/images/sweet.jpeg') %> */

 
A{text-decoration: none;}
body {
  background-color: rgb(97, 218, 137);                   
  text-align: center;    
}

#a  {
  display: flex;
  justify-content: center;

}

h1{text-shadow: 3px 3px rgb(182, 150, 150)}

table{
  padding: 30px
  /* text-align: left;  */
  border-color: rgb(218, 85, 85);           
  border-radius: 100px;
}
table td {
  border: 1px solid rgb(29, 20, 20);
}

